[submodule "spark-jobserver"]
	path = spark-jobserver
	url = https://github.com/SnappyDataInc/spark-jobserver.git
	branch = snappydata
[submodule "snappy-store"]
	path = store
	url = https://github.com/xyxiaoyou/snappy-store.git
	branch = XY191029
[submodule "spark"]
        path = spark
        url = https://github.com/xyxiaoyou/spark.git
        branch = XY191023 

